.my-drop-zone {
  border: dotted 3px lightgray;
  height: 5rem;
  background-color: antiquewhite;
  display: flex;
  color: red;
  align-items : center;
  justify-content: center;
  cursor: grab;
}
.nv-file-over {
  border: dotted 3px red;
}
.another-file-over-class {
  border: dotted 3px green;
}
.error-message{
  color: red;
  font-size: small;
}
.form-label:after {
  content:" *";
  color: red;
}