<div class="container mt-3">
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="email" formControlName="title" class="form-control" />
      <div *ngIf="checkErrors('title')" class="error-message">
        {{ showErrorMessage("title") }}
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" formControlName="email" class="form-control" />
      <div *ngIf="checkErrors('email')" class="error-message">
        {{ showErrorMessage("email") }}
      </div>
    </div>
    <div class="mb-3">
      <label  class="form-label">Region</label>
      <ngx-select
        formControlName="region"
        [allowClear]="true"
        [items]="region"
        optionValueField="optionId"
        optionTextField="optionTitle"
        placeholder="Select..."
      >
      </ngx-select>
      <div *ngIf="checkErrors('region')" class="error-message">
        {{ showErrorMessage("region") }}
      </div>
    </div>
    <div class="mb-3">
      <label  class="form-label">Country</label>
      <ngx-select
        formControlName="country"
        [allowClear]="true"
        [items]="countriesAsPerSelectedRegion"
        optionValueField="optionId"
        optionTextField="optionTitle"
        placeholder="Select..."
      >
      </ngx-select>
      <div *ngIf="checkErrors('country')" class="error-message">
        {{ showErrorMessage("country") }}
      </div>
    </div>
    <button type="submit" [disabled]="customerForm.invalid" class="btn btn-primary">Submit</button>
  </form>
</div>
